.searchImg {
    height:29px;
    width:31px;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 99;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.heading {
    margin: -42px 0px 0px 19px;
    color: rgba(137, 132, 202, 0.753);
}

/*Forecast panel start*/
.hourlyMainPanel {
    overflow-x: scroll;
}

.hourlySubPanel {
    border-radius: 8px;
    margin-bottom: 14px;
    padding: 16px;
    background-color: white;
    margin-right: 12px;
    background: rgba(238, 231, 231, 0.3);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hourlySubPanel div {
    margin: auto;
}

/*Result panel start*/
.CurrentCond {
    font-size: 60px;
}
.weatherDiscription {
    font-size: 22px;
}

.MainWeatherPanel {
    min-height: 200px;
    background-color: rgb(238, 231, 231);
    background: rgba(238, 231, 231, 0.3);
    border-radius: 22px;
    font-size: 22px;
}
.subWeatherPanel  {
    height: 50%;
}